/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --wght: 400;
  --wght-title: 700;
  --bg-color: #FFFFFF;
  --accent-color: #000000;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --section-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --logo-font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  --title-font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --button-like-text-color: #ffffff;
  --fill-color-heart: red;
}